<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!--this is the start of the div tag --> 
 <div id="vue-app"> 
    <h1>Keyboards</h1>
    <label>Name</label>
    <input type="text" v-model="name"/>
    <span>{{name}}</span>
    <label>Age</label>
    <input type="text" v-model="age"/>
    <span>{{age}}</span>
 </div>
    <script src="app.js"></script>
</body>
</html>